$font-family: 'Oswald', sans-serif, Helvetica, Arial, sans-serif;
$font-family-text: 'Open Sans', sans-serif, Helvetica, Arial, sans-serif;

/*
Available font weights are:

Owswald     :  Semibold 600
Raleway     :  Regular 400

*/

$regular: 400;
$semibold: 600;

h1, h2, h3, h4, h5, h6{
    font-family: $font-family;
    font-style: normal;
    color: #fff;
}
h1{
    font-size: 40px;
    line-height: 50px;
}
h2{
    font-size: 30px;
    line-height: 40px;
}
h3{
    font-size: 22px;
    line-height: 40px;
}
h4{
    font-size: 16px;
    line-height: 26px;
}
p{
    color: #6d6d6d;
    font-weight: $regular;
}

