/* line 1, ../../sass/_partials/background-size.scss */
.background-size {
  position: relative;
  background-position: center !important;
  background-size: cover !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}
